header {
  a: b;
}
header .navbar {
  a: b;
}
header .navbar .flex {
  a: b;
}
header .navbar .flex h1 {
  a: b;
}
header .navbar .flex h1 a {
  a: b;
}
header .navbar .flex ul.gnb {
  a: b;
}
header .navbar .flex ul.gnb li {
  a: b;
}
header .navbar .flex ul.gnb li a {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub li {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub li a {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub li ul.ssub {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub li ul.ssub li {
  a: b;
}
header .navbar .flex ul.gnb li ul.sub li ul.ssub a {
  a: b;
}
header .navbar .flex ul.user {
  a: b;
}
header .navbar .flex ul.user li {
  a: b;
}
header .navbar .flex ul.user a {
  a: b;
}
header .navbar .flex .search-container {
  a: b;
}
header .navbar .flex .search-container .search-bar {
  a: b;
}
header .navbar .flex .search-container .search-icon {
  a: b;
}