  /* 기본 설정 */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

