header {a:b;
    .navbar{ a:b;
        .flex{ a:b;
            h1{ a:b;
                a{ a:b;

                }
            }
            ul.gnb{ a:b;
                li{ a:b;
                    a{ a:b;
                    }
                    ul.sub{ a:b;
                        li{ a:b;
                            a{ a:b;

                            }
                            ul.ssub{ a:b;
                                li{ a:b;

                                }
                                a{ a:b;

                                }
                            }
                        }
                    }
                }
            }
            ul.user{ a:b;
                li{ a:b;

                }
                a{ a:b;

                }
            }
            .search-container{ a:b;
                .search-bar { a:b;

                }
                .search-icon { a:b;

                }
            }
        }
    }
}
