main{ a:b;
    section.tokocalling{ a:b;
        section.tokyo{a:b;
            h2{a:b;

            }
            p.p1{a:b;
                br{a:b;

                }
            }
            p{a:b;
            }
        }
        section.gallery{a:b;
            p.1{a:b;

            }
            p.2{a:b;

            }
            p.3{a:b;

            }
        }
        section.img{a:b;
            li{a:b;
                p{a:b;
                    br{a:b;

                    }
                }
            }
        }
        section.product-showcase{a:b;
            p{a:b;

            }
            div.product{a:b;
                p{a:b;

                }
            }
        }
    }
}